<form class="posts">
    {{#each posts as |post|}}
    <section class="post">
        <a class="posts-title" href="/post/{{post.id}}">
            <h3>{{post.title}}</h3>
            <p>{{post.created_at}}</p>
        </a>
        <div class="post-content">
            <p>{{post.post_content}}</p>
            <p class="comment-count">{{post.comments.length}} Comments</p>
            <div class="delete">
                <button id="delete-{{post.id}}" type="delete" data-post="{{post.id}}">
                    Delete Post
                </button>
            </div>
            <button id="edit-{{post.id}}" type="edit"><a class="edit" href="/update-post/{{post.id}}">Edit Post</a></button>
        </div>
    </section>
    {{/each}}
</form>
<form class="comments comment-form">
    <div class="comments-title">
        <h3>New Post:</h3>
    </div>
    <div class="post-title-text">
        <h4>Post Title:</h4>
        <textarea name="post-title"></textarea>
    </div>
    <div>
        <h4 class="post-title-text">Post:</h4>
        <textarea name="post-body"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<script src="/js/post.js"></script>
<script src="/js/delete.js"></script>