<section class="posts">
    {{#each posts as |post|}}
    <div class="post">
        <a class="posts-title" href="/post/{{post.id}}">
            <h3>{{post.user.username}}: {{post.title}}</h3>
            <p>{{post.created_at}}</p>
        </a>
        <div class="post-content">
            <p>{{post.post_content}}</p>
            <p class="comment-count">{{post.comments.length}} Comments</p>
        </div>
    </div>
    {{/each}}
</section>
